.producto {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
}
.producto img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.producto button {
    background-color: #15803d;
    color: white;
    border-radius: 7px;
    padding: 5px;
    width: 250px;
}
.producto button:hover {
    background-color: #166534;
}
.catalogo {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}